<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Info</title>
    <!-- jQuery -->
    <!-- Bootstrap4 files-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/ui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{fonts/fontawesome/css/fontawesome-all.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/OverlayScrollbars.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div>
        <span style="font-size: 20px;" th:text="${info}"></span>
    </div>
</body>
</html>